node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
AppData/
/AppData/
C:/Users/prana/AppData
AppData/**
**/AppData/**
Temp/
**/Temp/**
.system_generated/
.git/
